#id1{
    height:60px;
    border:2px solid #022635;
    background-color:#022635;
    color:white;
    font-family:cursive;
    display: flex;
    width:100vw;
}
#id2{
    margin-top:8px;
    margin-left:15px;
    
}
#id3{
    display:flex;
    flex-wrap: wrap;
    /* padding:20px; */
    background-color:black;
    padding-left:50px;
}
#id4{
    padding:10px;
    text-align: center;
}
.spinner-border{
    margin-left:50vw;
}
#id5{
    width:45px;
    height:45px;
    margin-left:70px;
    margin-top:6px;   
}
#id6{
    height:40px;
    width:105px;
    border:2px solid black;
    border-radius:5px;
    background-color:white;
    margin-top:8px;
    margin-left:450px;
    display: flex;
}
#id7{
    width:30px;
    height:28px;
    margin-top:4px;
}
#id8{
    color:black;
    margin-top:6px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
#id9{
    width:30px;
    height:30px;
    margin-top:15px;
}
.page-link{
    font-weight: bold !important;
}
.pagination{
    padding-left:40vw !important;
}
@media only screen and (min-width:320px) and (max-width:767px) {
    #id5{
        width:15px;
        height:15px;
        margin-left:5px;
        margin-top:6px;   
    }
 #id2{
    font-size:6px;
    margin-top:6px;
    margin-left:6px;
    width:70px;
      
        }
        #id1{
            height:30px;
        } 
       #id6{
        margin-left:110px;
        font-size:10px;
        height:25px;
        width:65px;
        margin-top:1px;
       }
        #id7{
height:18px;
width:18px;
margin-top:1px;
        }
        #id8{
            margin-top:2px;
        }
        #id9{
            height:18px;
            width:18px;
            margin-top:6px;
            
        }
        #id3{
            padding-left:4px;
        }
        #id4{
            padding-left:2px;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
        }
        #id4 .btn{
            font-size:5px;
            margin:5px;
        }
        .pagination{
            padding-left:3vw !important;
            
        }
        .page-link{
            font-size: 10px !important;
            text-align: center !important;
        }

    }